body {
  font-family: "Pangolin", cursive;
  background-image: url(../images/fondo.jpg); }

.mainContainer {
  width: 500px;
  margin: 5em auto;
  border: 10px solid #000000;
  border-radius: 15px;
  height: 470px;
  background-color: #f9e9e0; }
  .mainContainer .container {
    text-align: center; }
  .mainContainer h1 {
    font-family: "Pacifico", cursive;
    color: #6a74fb; }

.intro p {
  height: 8px; }

.formu {
  text-align: center; }
  .formu .entry {
    width: 270px;
    height: 20px;
    margin: 10px; }

.ocultar {
  display: none; }

.buttons {
  display: block;
  background-color: #f19216;
  border-radius: 10px;
  width: 270px;
  height: 37px;
  margin: 10px auto;
  color: #fffdfd;
  font-family: "Pangolin", cursive;
  font-size: 18px; }

.imagesAll {
  position: relative;
  top: -160px;
  margin: 16%;
  left: 50px; }
  .imagesAll .boxAttempts {
    border-radius: 5px;
    border: 3px solid #6a74fb;
    background-color: #fffdfd;
    position: absolute;
    top: 375px;
    margin: 83px;
    left: -71px;
    width: 570px;
    height: 28px; }
  .imagesAll .attempts {
    margin: 271px;
    color: #f19216; }
  .imagesAll .text {
    margin: 190px;
    margin-top: -20px; }

#memoT {
  background: #f9e9e0;
  border: 10px solid #000000;
  border-radius: 15px;
  width: 1100px;
  height: 615px;
  margin: 0 auto; }
  #memoT .imagesTapada {
    border: #f19216 1px solid;
    width: 19%;
    float: left;
    margin: 4px; }
  #memoT img {
    width: 100%;
    float: left;
    cursor: pointer; }

.name {
  width: 500px;
  margin: 10px;
  line-height: 5px; }
  .name h2 {
    width: 990px;
    font-family: "Pacifico", cursive;
    color: #6a74fb;
    text-align: center; }
  .name .hello {
    text-align: center;
    width: 990px; }
  .name .texto {
    text-align: center;
    width: 990px; }
  .name .levels {
    text-align: center;
    width: 990px; }

.flip {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.5s linear; }

.pintar {
  filter: grayscale(100%); }

.minMod {
  width: 30%;
  height: 306px;
  border: 3px solid #000000;
  border-radius: 8px;
  background-color: #f9e9e0;
  position: absolute;
  top: 21px;
  margin: 2px;
  margin-left: 399px; }
  .minMod input {
    background-color: #f19216;
    border-radius: 17px;
    width: 198px;
    height: 48px;
    margin: 21px;
    color: #fffdfd;
    font-family: "Pangolin", cursive;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 79px;
    margin-left: 96px;
    text-align: center; }
  .minMod p {
    display: flex;
    justify-content: center;
    font-family: "Pangolin", cursive;
    margin: 30px;
    line-height: 1;
    height: 0; }

.ranking {
  border-collapse: collapse;
  border: 1px black solid;
  margin: 85px;
  margin-top: 94px; }
  .ranking th {
    border: 1px black solid;
    border-collapse: collapse; }
  .ranking td {
    border: 1px black solid;
    border-collapse: collapse;
    height: 53px;
    width: 68px;
    text-align: center; }

/*# sourceMappingURL=styles.css.map */
